@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.movies__movie {
  display: flex;
  align-items: center;
  width: 1100px;
  margin-bottom: 100px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

.movie__poster {
  border-radius: 10px 0px 0px 10px / 10px 0px 0px 10px;
}

.movie__poster-wrapper {
  height: 345px;
}

.movie__title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin: 0px;
  margin-bottom: 20px;
}

.movie__data {
  width: 870px;
  display: flex;
  justify-content: left;
  padding-left: 60px;
  padding-right: 60px;
}

.movie__summary {
  max-width: 50vw;
}

.year-genres-wrapper {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 0px;
  font-family: FontAwesome;
}

.movie__genres {
  font-weight: 700;
  list-style: none;
  padding-left: 0px;
  margin-left: 20px;
  display: flex;
}

.genres__genre {
  margin-right: 15px;
}

.movie__summary {
  display: block;
  width: 700px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Montserrat", sans-serif;
  white-space: normal;
  line-height: 1.2;
  height: 4.8em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

a {
  text-decoration: none;
  color: white;
}
